html{ font-family: "Microsoft YaHei"; color:#333; font-size:100px;}
html,body{width:100%;min-width:7.5rem;
 height:100%;}
body,p,ul,ol,dl,dd,dt,p,h2,h3,h4,h5,h6{ margin:0; padding:0; font-size:0.14rem;text-indent:0;}
li{ list-style:none; }
a{ text-decoration:none; color:#333; }
a img{ border:0; }
img{ vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
.clear{ *zoom:1; }
.clear:after{ content:""; display:block; clear:both; }
.fl{float: left}
.fr{float: right}
.main{width:7.02rem;margin: 0 auto;}
.zg_content{margin: 0 auto;width: 7.5rem;}


/*------------头部---------*/
.zg_header{height: .88rem;background: #fff;width: 100%;}
.logo{width: 1.83rem;height: .4rem;  margin:.18rem 0 0 .2rem;}
.logo img{width:1.83rem;height: .4rem;}
.phone{font-size: .24rem;line-height: .28rem;margin:.33rem  .18rem 0 0;background: url("../images/zg_tel.jpg") no-repeat left 50%;background-size: .18rem .25rem;padding-left: .3rem}
.phone a{color: #e60000;}
/*------------banner---------*/
.zg_banner{background: url("../images/zg_banner.jpg") no-repeat center top;width: 7.5rem;height: 5rem;background-size: 7.5rem 5rem;}
.zg_ban1{font:.3rem/.34rem "Microsoft YaHei";text-align: center;color: #ffff02;padding-top: .44rem;letter-spacing: .05rem}
.zg_ban2{text-align: center;margin-top: -.15rem}
.zg_ban2 img{width: 6.7rem;height: 2.68rem}
.zg_ban3{text-align: center;margin-top: .36rem}
.zg_ban3 img{width: 6.58rem;height: .54rem}
.zg_ban4{text-align: center;font:.2rem/.24rem "Microsoft YaHei";color: #fff;margin-top: .27rem}
.zg_ban4 span{color: #fde859;}

/*------------专业专项部门揭秘---------*/
.zg_content1{height: 5.7rem;}
.zg_con1{padding-top: .3rem}
.zg_h3{font:.28rem/.7rem "Microsoft YaHei";color: #fff;text-align: center;background: url("../images/zg_bg1.png") no-repeat left top;width: 5.36rem;height: 1.05rem;background-size: 5.36rem 1.05rem;margin: 0 auto;position: relative;z-index: 1;}
.zg_h3 span{font-weight:bold;color: #f6ff00;}
.zg_con1div{padding-left: .2rem;height: 4.29rem;border-radius: .13rem;background: #fff;box-shadow: 0 0 .24rem #fff1ed;margin-top: -.667rem;padding-top: .73rem} 
.zg_con1div div{padding: 1px;background: #cacaca;float: left;border-radius: .08rem;margin-right: .2rem;margin-bottom: .2rem;}
.zg_con1div a{font:.28rem/.58rem "Microsoft YaHei";color: #666;text-align: center;display: block;border-radius: .08rem;background: #fff;}
.zg_cona1{width:1.48rem;}
.zg_cona2{width:3.18rem;}
.zg_con1div .zg_cona3{margin-right: 0;}
.zg_con1div .active{background: -webkit-linear-gradient(left, #fc6712 ,#f71b0a);background: -o-linear-gradient(right, #fc6712, #f71b0a);background: -moz-linear-gradient(right, #fc6712, #f71b0a);background: linear-gradient(to right, #fc6712 , #f71b0a);}
.zg_con1div .active a{color: #ed353d;}


/*------------出入境检验检疫局---------*/
.zg_content2{height: 7.19rem;}
.zg_con2{padding-top: .5rem;}
.zg_h2{
	font:bold .48rem/.94rem "Microsoft YaHei";
	text-align: center;
	color: #ed353d;
	background: url("../images/tt_bg.png") no-repeat center top;
	height: 1.05rem;
	background-size: 3.05rem 1.05rem;
	margin-bottom: .4rem;
}
.zg_h31{text-align: center;font:bold .38rem/.54rem "Microsoft YaHei";color: #333;}
.zg_h31 img{width: .65rem;height: .17rem;}
.zg_img1{margin-right: .3rem}
.zg_img2{margin-left: .3rem}
.zg_con2oul{
	background: url("../images/zg_bg3.jpg") no-repeat .06rem 0.21rem;
	background-size: 1px 3.17rem;
	margin-top: .32rem;
	margin-left: 0.27rem;
	width: 6.82rem;
}
.zg_con2oul li{
	background: url("../images/zg_bg2.png") no-repeat left .16rem;
	padding-left: .37rem;
	font:.26rem/.44rem "Microsoft YaHei";
	color: #333;
	background-size: .13rem .13rem;
	margin-bottom: .32rem;
}
.zg_con2oul li span{color: #ed353d;}

/*------------面试重难点---------*/
.zg_content3{background: url("../images/zg_con3.jpg") no-repeat center top;height: 6.41rem;background-size: 7.5rem 6.41rem;}
.zg_con3{padding-top: 0.43rem;}
.zg_con3oul{
	padding-top: 0.03rem;
	margin-top: .39rem;
	height: 4.56rem;
	width: 7rem;
	background: url(../images/zg_bg5.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 0.25rem;
}
.zg_con3oul li{
	height: 0.95rem;
	margin-bottom: 0.22rem;
}
.zg_con3oul li.mbt28{
	margin-bottom: 0.28rem;
}
.zg_con3oul li span{
	float: left;
	width: 0.46rem;
	height: 0.46rem;
	text-align: center;
	color: white;
	line-height: 0.46rem;
	font-size: 0.3rem;
	margin-top: 0.12rem;
}
.zg_con3oul li p{
	font-size: 0.26rem;
	line-height: 0.93rem;
	margin-left: 0.93rem;
	color: white;
	float: left;
}
.zg_con3oul li p strong{
	color: #ffff00;
}


/*----------------什么是无领导---------------*/
.add_content{
	padding-top: 0.4rem;
	height: 3.01rem;
	background: url(../images/add_bg_03.jpg) no-repeat;
	background-size: 100% 100%;
}
.add_tt{
	color: white;
}
.add_content p{
	font-size: 0.26rem;
	color: #ffffff;
	line-height: 0.44rem;
	width: 6.6rem;
	margin: 0.31rem auto 0;
}
.add_content p span{
	color: #fd8b24;
}


/*------------专业性特点---------*/
.zg_content4{background: #f8f6f6;height: 6.12rem;}
.zg_con4{padding-top: .4rem}
.zg_con4oul{
	padding-top: 0.97rem;
	margin-top: 0.16rem;
	width: 6.73rem;
	height: 3.65rem;
	background: url(../images/zg_bg12.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 0.44rem;
}
.zg_con4oul li{
	background: url("../images/zg_bg10.png") no-repeat left .12rem;
	background-size: .17rem .17rem;
	font:.26rem/.44rem "Microsoft YaHei";
	padding-left: .4rem;
	margin-left: 0.31rem;
	margin-bottom: 0.16rem;
	width: 5.76rem;
}


/*------------敲黑板，划重点---------*/
.zg_content6{
	background: url(../images/zg_bg13.jpg) no-repeat;
	height: 10.67rem;
	background-size: 100% 100%;
}
.zg_con6{padding-top: .44rem;}
.con6_tt{
	color: white;
}
.zg_h32{
	color: white;
	text-align: center;
	font-size: 0.38rem;
	line-height: 0.58rem;
}
.zg_h32 span{color: #fdfd23;}
.zg_con6oul{
	margin: 0.4rem auto 0;
	width: 6.62rem;
}
.zg_con6oul li{
	height: 2.63rem;
	background-size: 100%;
	margin-bottom: 0.31rem;
}
.zg_con6oul li h6{
	font-size: 0.36rem;
	line-height: 0.48rem;
	text-align: center;
	color: white;
}
.zg_con6oul li p{
	margin-left: 0.54rem;
	width: 5.8rem;
	font-size: 0.26rem;
	line-height: 0.4rem;
	margin-top: 0.44rem;
	color: #555555;
}
.zg_con6oul li p strong{
	color: #fe5768;
}
.zg_con6oli1{background:url("../images/zg_bg14.png") no-repeat left top;}
.zg_con6oli2{background:url("../images/zg_bg15.png") no-repeat left top;}
.zg_con6oli3{background:url("../images/zg_bg16.png") no-repeat left top;}


/*------------定制方案---------*/
.zg_content7{background: #ededed;}
.zg_con7{padding-top:.42rem;padding-bottom: .4rem}
.zg_con7tab{width: 7.2rem;margin: .4rem auto 0;}
.zg_con7tab th{background: #ed353d;font:.18rem/.56rem "Microsoft YaHei";color: #fff;text-align: center}
.zg_con7th1{width: 1.48rem;border-right: 1px solid #e5e5e5;}
.zg_con7th2{width: 1.74rem;border-right: 1px solid #e5e5e5;}
.zg_con7th3{width: 1.3rem;border-right: 1px solid #e5e5e5;}
.zg_con7th4{width: 1.14rem;border-right: 1px solid #e5e5e5;}
.zg_con7th5{width: 1.48rem;}
.zg_con7tab td{background: #fff;font-size:.18rem;font-family:"Microsoft YaHei";line-height: 1;color: #333;text-align: center;border: 1px solid #e5e5e5;padding: .3rem 0;vertical-align: middle;}
.zg_con7tab td a{display: block;text-align: center;height:.4rem;color: #fff;background: url("../images/zg_bg18.png") no-repeat left top;width: 1rem;margin: 0 auto;background-size:100% 100%;position: relative;}
.zg_con7tab td a em{display:inline-block;vertical-align: middle;font-style:normal;font-size:.36rem;line-height:.8rem;transform: scale(0.5);transform-origin: 0% 0%;position: absolute;width: 2rem;left: 0;}/*.zg_con7tab td a{display: block;text-align: center;height:.28rem; font-size:.18rem;color: #fff;background: url("../images/zg_bg18.png") no-repeat left top;width: 1rem;margin: 0 auto;background-size:100% 100%;padding-top:.12rem;}*/
/*font-family:"Microsoft YaHei";*/
.zg_con7p1{color: #ed353d;text-align: center;font:bold .3rem/.48rem "Microsoft YaHei";margin-top: .26rem;}
.zg_con7p2{color: #333;text-align: center;font:.3rem/.48rem "Microsoft YaHei";}
/*------------地址链接---------*/
.zg_content8{padding-bottom: .3rem}
.zg_con8{padding-top: .42rem;}
.zg_fx{
 margin-top: .42rem;
 padding-left: .24rem;
}
.zg_fx a{
 display: block;
 float: left;
 width: 1.22rem;
 height: .68rem;
 line-height: .68rem;
 background: white;
 text-align: center;
 border-radius: .05rem;
 font-size: 0.26rem;
 color: #666;
 margin:0 .2rem .2rem 0 ;
 border:1px solid #d6d6d6;box-sizing:border-box;
 box-sizing: border-box;
}
.zg_fx a:hover,.zg_fx a:active{
 background:#f83b42;color: #fff;border: none;
}
/*------------底部---------*/
/*.zg_footer{background: #2b2b2b;font:.12rem/.24rem "宋体";text-align: center;}*/

footer {
 width:100%;
 background: #2b2b2b;
 padding: .24rem 0 .22rem 0;
 color: #ccc;
}
footer p {
 width:100%;
 text-align:center;
 font:.22rem/.34rem "宋体";
 color: #ccc;
}
footer a {
 display:inline!important;
 font:.22rem/.34rem "宋体";
 color: #ccc;
}




















